@font-face {
	font-family: 'AvalonDemi';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Avalon-Demi-webfont.eot");
	src: url("../fonts/Avalon-Demi-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Avalon-Demi-webfont.woff") format("woff"),url("../fonts/Avalon-Demi-webfont.ttf") format("truetype"),url("../fonts/Avalon-Demi-webfont.svg#avalonbold") format("svg");
}

@font-face {
	font-family: 'AvalonBook';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Avalon-Book-webfont.eot");
	src: url("../fonts/Avalon-Book-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Avalon-Book-webfont.woff") format("woff"),url("../fonts/Avalon-Book-webfont.ttf") format("truetype"),url("../fonts/Avalon-Book-webfont.svg#avalonregular") format("svg");
}

body {
  font-family: "AvalonBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #000033;
}

.icon {
  display: inline-block;
  background: url('../images/social-icons.png') no-repeat;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.icon:last-child {
  margin-right: 0;
}

.icon a {
  display: block;
  width: inherit;
  height: inherit;
}

.icon.twitter  { background-position: 0 0 }
.icon.facebook { background-position: -48px 0 }
.icon.linkedin { background-position: -96px 0 }

.slogan {
  font-family: "AvalonDemi";
  border-left: 10px solid #E20031;
  padding-left: 20px;
  font-size: 102px;
}

.slogan span {
  display: block;
  line-height: 80px;
}

.slogan span.motto {
  color: #E20031;
}

.slogan p.location {
  font-size: 24px;
  padding-top: 6px;
}

.jumbotron {
  margin-top: 90px;
}

.jumbotron h1.logo {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  margin: 0;
  padding: 0;
  background: url("../images/rupy-2013-logo-1.png") no-repeat center top; 
}

.jumbotron h1.logo, .slogan {
  height: 355px;
}

#newsletter {
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}

#newsletter form {
  margin: 0;
}

#newsletter .help-inline {
  font-size: 22px;
  margin-right: 10px;
  color: #FFF;
}

#newsletter input {
  height: 32px;
  font-size: 22px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#newsletter input[type=submit] {
  background: #E20031;
  margin-left: 10px;
  color: #FFF;
  text-shadow: none;
  height: 42px;
  font-size: 22px;
}

#social-networks {
  text-align: center;
}

#social-networks ul {
  margin: 0;
  font-size: 0;
  height: 40px;
}

#editions {
  margin-top: 40px;
  text-align: center;
}

#editions ul {
  margin: auto 0;
  list-style: none;
  font-size: 20px;
}

#editions ul li {
  display: inline;
  padding: 0 8px;
}

#editions ul li:first-child {
  padding-left: 0;
}

#editions ul li:first-child:after {
  content: ':';
}

#editions ul li a {
  color: #E20031;
}

@media (min-width: 1200px) {
  .slogan {
    font-size: 118px;
    padding-left: 25px;
  }

  .slogan span {
    line-height: 92px;
  }

  .slogan p.location {
    font-size: 38px;
    padding-top: 18px;
  }

  .jumbotron h1.logo {
    background-image: url("../images/rupy-2013-logo-2.png"); 
  }

  .jumbotron h1.logo, .slogan {
    height: 420px;
  }

}

@media (max-width: 979px) {
  .jumbotron {
    margin-top: 60px;
  }

  .jumbotron .span4, .jumbotron .span8 {
    width: 100%;
    float: none;        
  }

  .slogan {
    font-size: 34px;
    border: none;
    padding: 0;
    text-align: center;
    height: auto;
  }

  .slogan span {
    display: inline;
    line-height: 34px;
  }

  .slogan span.motto {
    display: block;
  }

  .slogan p.location {
    margin-top: 30px;
    font-size: 24px;
  }

  .jumbotron h1.logo {
    height: 440px;
    background-image: url("../images/rupy-2013-logo-2.png");
  }

  #newsletter {
    margin-top: 35px;
  }

  #newsletter .help-inline {
    font-size: 20px;
    margin-right: 8px;
  }

  #newsletter input {
    height: 26px;
    font-size: 20px;
  }

  #newsletter input[type=submit] {
    margin-left: 8px;
    height: 38px;
    font-size: 20px;
  }
  
  #editions {
    text-align: center;
    margin-bottom: 1em;
  }
  
  #editions ul {
    font-size: 18px;
  }

  #editions ul li:first-child {
    display: block;
    padding: 0;
    margin-bottom: 8px;
  }

  #editions ul li:first-child:after {
    content: none;
  }
}

@media (max-width: 767px) {
  .icon {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }

  .icon.twitter  { background-position: 0 -48px }
  .icon.facebook { background-position: -40px -48px }
  .icon.linkedin { background-position: -80px -48px }

  .jumbotron {
    margin-top: 30px;
  }

  .slogan {
    font-size: 28px;
  }

  .slogan span {
    line-height: 28px;
  }

  .slogan p.location {
    margin-top: 25px;
    font-size: 22px;
  }

  .jumbotron h1.logo {
    height: 350px;
    background-image: url("../images/rupy-2013-logo-3.png");
  }

  #newsletter {
    margin-top: 25px;
  }

  #newsletter .help-inline {
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  #newsletter input {
    height: 22px;
    font-size: 18px;
  }

  #newsletter input[type=submit] {
    margin-left: 0;
    margin-top: 10px;
    height: 30px;
    font-size: 16px;
  }

  #editions {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  body {
    min-height: 480px;
  }

  .jumbotron {
    margin-top: 25px;
  }

  .slogan {
    font-size: 19.8px;
  }

  .slogan span {
    line-height: 20px;
  }

  .slogan p.location {
    font-size: 17px;
  }

  .jumbotron h1.logo {
    height: 241px;
    background-image: url("../images/rupy-2013-logo-4.png");
  }

  #newsletter {
    margin-bottom: 25px;
  }

  #newsletter .help-inline {
    font-size: 16px;
    margin-bottom: 5px;
  }

  #newsletter input {
    height: 20px;
    font-size: 16px;
  }

  #newsletter input[type=submit] {
    margin-left: 0;
    margin-top: 8px;
    height: 28px;
    font-size: 14px;
  }

  #editions {
    margin-top: 25px;
  }

  #editions ul {
    font-size: 15px;
  }

  #editions li li:first-child {
    margin-bottom: 8px;
  }
}
